/* 3.2 */
.heading {
    font-size: 35px;
}
/* ------------ */

/* 5.2 */
.intro {
    background-color: #2F5A78;
}
/* ------------ */

/* 7.2 */
body {
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif
}
/* ------------ */