strong {
  color: #2493df;
}

footer {
  color: #595959;
  font-size: 14px;
  text-align: center;
}

label {
  font-size: 16px;
  font-weight: bold;
}

h1 {
  font-size: 20px;
  letter-spacing: 2px;
}
