/* 3.2 */
.heading {
    font-size: 35px;
    font-weight: bolder; /* 10.2 */
}
/* ------------ */

/* 5.2 */
.intro {
    background-color: #2F5A78;
}
/* ------------ */

/* 7.2 */
body {
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif
}
/* ------------ */

/* 8.2 */
.prof {
    font-size: 20px;
    font-weight: lighter; /* 10.2 */
}

.contactinfo {
    font-size: 15px;
}

.subheading {
    font-size: 20px;
    font-weight: bolder; /* 10.2 */
}
/* ------------ */