strong {
  color: #2493df;
}

footer {
  color: #595959;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: #2493df;
  color: white;
}

#buy {
  background-color: #687373;
  margin-top: 10px;
  color: #fcfcfc;
}

body {
  background-color: #e0e0e0;
}

section {
  padding: 10px;
  background-color: white;
}

label {
  font-size: 16px;
  font-weight: bold;
}

h1 {
  font-size: 20px;
  margin: 10px 0;
  letter-spacing: 2px;
}

ul {
  list-style-type: square;
  list-style-position: inside;
  padding-left: 30px;
}
