strong {
  color: #2493df;
}

footer {
  color: #595959;
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}

.main {
  margin-bottom: 50px;
}

section img {
  float: left;
  margin-right: 10px;
}

button {
  background-color: #2493df;
  font-weight: bold;
  color: white;
  font-size: 16px;
  height: 40px;
  width: 100%;
  border: none;
}

input[type="number"] {
  padding: 2px;
  text-align: center;
  width: 50px;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: #2493df;
  color: white;
}

#buy {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0px;
  right: 0px;
  box-sizing: border-box;
  background-color: #687373;
  color: #fcfcfc;
}

body {
  background-color: #e0e0e0;
}

form {
  display: flex;
}

.form-section {
  flex: 1;
}

section {
  padding: 10px;
  background-color: white;
}

label {
  font-size: 16px;
  font-weight: bold;
}

h1 {
  font-size: 20px;
  margin: 10px 0;
  letter-spacing: 2px;
}

ul {
  list-style-type: square;
  list-style-position: inside;
  padding-left: 30px;
}
